@using Drinks.AuthModule.Models
@model UserProfile

@{
	ViewData["Title"] = "Обо мне";
}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css"> <!-- Подключение CSS файла -->
	<link rel="stylesheet" href="~/css/manage.css" asp-append-version="true" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="~/js/siteManage.js" asp-append-version="true"></script>
</head>

@Html.AntiForgeryToken()

<div class="user-management-container">
	<div class="profile-card">
		<h2 class="profile-heading">@ViewData["Title"]</h2>

		<div class="profile-row">
			<i class="profile-icon fas fa-user"></i>
			<div class="profile-details">
				<div class="profile-label">Имя пользователя:</div>
				<div class="profile-value">@Model.Username</div>
			</div>
		</div>

		<div class="profile-separator"></div>

		<div class="profile-row">
			<i class="profile-icon fas fa-envelope"></i>
			<div class="profile-details">
				<div class="profile-label">Email:</div>
				<div class="profile-value" id="profileValueEmail">@Model.Email</div>
				@if (@Model.EmailConfirmed)
				{
					<span style="color: Green	">Подтверждён</span>
				}
				else
				{
					<a href="#" id="confirmEmailLink" style="color: red">Не подтвержден</a>
				}
			</div>
		</div>

		<div class="profile-separator"></div>

		<div class="profile-row">
			<i class="profile-icon fas fa-phone"></i>
			<div class="profile-details">
				<div class="profile-label">Телефон:</div>
				<div class="profile-value">89320925147</div>
			</div>
		</div>

		<div class="profile-separator"></div>

	</div>
</div>

<!-- Диалоговое окно подтверждения -->
<div class="confirmation-dialog" id="confirmationDialog">
	<div class="confirmation-content">
		<p>Отправить письмо для подтверждения?</p>
		<div class="confirmation-buttons">
			<button class="cancel" id="cancelButton">Нет</button>
			<button class="confirm" id="confirmButton">Отправить</button>
		</div>
	</div>
</div>


